@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Istok Web'
}

.fonte-banner {
    text-align: start;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.fonte-btn-banner {
    width: 100%;
    text-align: start;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.fonte-veja-tudo {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.fonte-portal {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.fonte-1st-section {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #121212;
}

.negrito-1st-section {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #121212;
}

.fonte-2nd-section {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 47px;
    text-align: center;
    color: #121212;
}

.fonte-subtexto-2nd-section {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #858585;
}

.fonte-veja-tudo-2section {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #121212;
}

.fonte-videos {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 47px;
    text-align: center;
    color: #121212;
    padding-bottom: 47px;
}

.texto-card {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

footer {
    font-family: 'Inter';
}

.fonte-mapa-site {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.fonte-mapa-opcoes {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    text-decoration: none;
}

.fonte-onde-estamos-titulo {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

.fonte-cidade {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.fonte-rua {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.fonte-priv-cookies {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    color: #706EF4;
}

.fonte-direitos {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
}