@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

/* Header */

.gradient-bg {
    background-image: linear-gradient(to right, #1E315B, #496DBF);
}

.vertical-line {
    border-left: 2px solid #496DBF;
    height: 40px;
}

.text-top {
    color: #C0A37B;
    text-transform: uppercase;
}

.ham-menu {
    height: 50px;
    width: 50px;
    position: relative;
}

.ul-menu {
    list-style-type: none;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu {
    background-color: rgb(27, 48, 87);
    opacity: 0.96;
    height: 100vh;
    width: 100%;
    max-width: 388px;
    position: fixed;
    top: 82px;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    transition: .3s ease-in-out;
}

.off-screen-menu.active {
    right: 0;
}

/* Main index */

h1 {
    font-size: 40pt;
    color: #1B3057;
}

.links-pags {
    color: #496DBF;
    text-decoration: none;
}

.cor-cinza {
    color: #394E61;
}

.btn-group {
    height: 70px;
}

.btn-circle {
    height: 41px;
    width: 41px;
    border-width: 2px;
}

.btn-primary {
    background-color: #C05A94;
    border-color: #C05A94;
    --bs-btn-active-border-color: #65264A;
}

.btn-start-appointment {
    height: 53px;
    width: 250px;
    color: white;
}

.btn-start-appointment:hover {
    background-color: #A33E78;
    border-color: #A33E78;
}

.btn-outline-primary {
    border-color: #C05A94;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #C05A94;
}

.btn-outline-primary {
    border-width: 2px;
    --bs-btn-color: #C05A94;
    --bs-btn-border-color: #C05A94;
    --bs-btn-active-border-color: #C05A94;
}

/* Main faq */

.enfeite {
    position: absolute;
    top: 140px;
}

.semi-header {
    background-image: linear-gradient(to right, #1E315B, #496DBF);
    margin-top: 82px;
    padding: 70px;
}

.losango{
    opacity: 0;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #C05A94;
    rotate: 45deg;
    top: 95%;
    left: 50%;

}

.losango-ativo{
    opacity: 1;
    transition: .2s ease-in-out;
}

.losango.collapsed{
    display: none;
}

.ul-faq {
    list-style-image: url(imgs/ico-ul.svg);
    padding-left: 1rem;
    padding-bottom: 25px;
}

.linha-faq {
    background-color: #C3E3ED;
    border-width: 0;
    color: #C3E3ED;
    height: 3px;
}

.btn-faq.collapsed {
    background-color: rgba(255, 255, 255, 0);
}

.btn-faq {
    background-color: #C05A94;
}

.btn-faq:hover {
    background-color: #A33E78;
    border-color: #A33E78;
}

.btn-faq:hover svg path {
    stroke: #FFF;
}

.margin-faq-answer {
    margin-left: 2.8rem;
}

.chevron.collapsed {
    stroke: #C05A94;
    rotate: 0deg;
}

.chevron {
    stroke: white;
    stroke-width: 2;
    fill: none;
    rotate: 180deg;
}

/* Footer */

.linha-footer {
    margin-top: 57px;
    margin-bottom: 37px;
    background-color: #C18E24;
    border-width: 0;
    color: #C18E24;
    height: 2px;
}

.btn-chat,
.btn-chat:hover,
.btn-chat:focus,
.btn-chat:active,
.btn-chat:focus {
    background-color: #C05A94;
    outline: none;
    box-shadow: none;
    border: 0;
}

.circulo-lupa {
    height: 58px;
    width: 58px;
    background-color: #C05A94;
}